.goldButton{
    background-color: black;
    color: gold;
    font-weight:600;
    font-size: 20px;
    outline: none;
    padding: 15px 18px;
    border: 1px solid gold;
    width: 450px; 
    margin: auto;
    cursor: pointer;
    transition: all 0.5s ease;  
    padding-bottom: 20px;
    position: absolute;
    left: 37.5%;
    top: 85%;   
}

.goldButton:hover{
    background-color: gold;
    color:black;
    cursor: pointer;
}

@media (max-width: 768px) {
.goldButton{
    position: fixed;
    width: 100%;
    left: 0;
    height: 60px;
    margin-top: 40px;
    bottom: 0;
}
}